{% extends "main_app/main.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="color: aliceblue">
            <legend class="border-bottom mb-4" style="color: aliceblue">Пост</legend>
            Заголовок<br>{{ form.title }}<br>
            Текст<br>{{ form.text }}<br>
            Приватный{{ form.is_public }}<br>
            Картинка<br>{{ form.image }}<br>
            Указать тег(и) через запятую: {{ form.tags }}
        </fieldset><br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Опубликовать</button>
        </div>
    </form>
</div>
{% endblock content %}