{% extends 'main_app/main.html' %}
{% block title %}
Страница регистрации
{% endblock %}

{% block content %}
    <h1 style="color: aliceblue">Регистрация</h1>
    <form method="post" action="/auth/register/">
        {% csrf_token %}
            <div>
                Ник: {{ reg_form.username }}<br>
            </div>
            <div>
                Почта: {{ reg_form.email }}<br>
            </div>
            <div>
                Пароль: {{ reg_form.password }}<br>
            </div>
            <button type="submit" class="btn btn-success">Стать смешариком</button>


    </form>
{% endblock %}